body {
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;


}

.container {
    background: rgb(79, 24, 116);
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    text-align: center;
}

input {
    padding: 8px;
    width: 60%;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 8px 15px;
    margin-left: 5px;
    background: #4facfe;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0fa3cc;
}

.resultado {
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.tentativas {
    min-height: 30px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
