        body{
            background-color: rgb(32, 7, 58);
            font-family: Arial, Helvetica, sans-serif;

        }

.sumario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    background-color: rgb(78, 122, 255);
    border-style:solid;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 40px;
    margin-left: 550px;
    margin-right: 550px;
    border-radius: 20%;
    max-width: 1100px;
}
  