body{
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(54, 43, 102);
color:aliceblue;
margin:0px;
}
.nome{
    display: flex;
    justify-content: center;
}

.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.perfil{
    border-radius: 50%;
    object-fit: cover;
    width: 300px;
    height: 300px;
    
}
.bio{

    display: flex;
    justify-content:center;
    align-items:center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}

.sumario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    border: 3px color(red);
    background-color: royalblue;
    border-style: solid;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 40px;
    margin-left: 550px;
    margin-right: 550px;
    border-radius: 10%;
}
#menu-toggle{
    display: none;

}
.bnt{
    position: fixed;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 1002;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.bnt span{
    display: block;
    height: 3px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    transition: 0,3s;
}
.slide-menu{
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: rgb(54, 43, 102);
    color: white;
    transition: left 0,3s ease;
    padding-top: 60px;
    z-index: 1001;

}
.slide-menu ul,li{
    padding: 15px 20px;
    border-bottom: 1px solid rgb(54, 43, 102);

}
.slide-menu ul,li :hover{
    background-color: rgb(41, 179, 221);
    cursor: pointer;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
    
}
#menu-toggle:checked ~ .slide-menu{
    left: 0;
}
#menu-toggle:checked ~ .overlay{
    opacity: 1;
    pointer-events: auto;

}
#menu-toggle:checked + .bnt span:nth-child(1){
    transform: rotate(45deg)translateY(13px);
    background: #fff;
}
#menu-toggle:checked + .bnt span:nth-child(2){
   opacity: 0;
}
#menu-toggle:checked + .bnt span:nth-child(3){
    transform: rotate(-45deg)translateY(-13px);
   
}