body{

font-family: Arial, Helvetica, sans-serif;
background-color: rgb(44, 46, 38);
color: rgb(255, 255, 255);
}


div:hover{
background-color:rgb(51, 50, 50);}
.blue{color: blue;
font: size 18px; ;}

#id2{background-color: rgb(43, 226, 211);
}

